/* Global Styles */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 35, 121, 0.3); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 35, 121, 0.3); 
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

main {
  padding-top: 75px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  color: $text-black;
  font-weight: 500 !important;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $text-black;
}

a {
  font-family: 'Lato', sans-serif !important;
  color: $text-black  !important;
  text-decoration: none !important;
  font-weight: 500;
}

li {
  list-style-type: none;
}

  span.underline-nice {
    background-image: linear-gradient(120deg, rgba(0, 35, 121, 0.1) 0%, rgba(0, 35, 121, 0.1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    width: fit-content;
}


/* Show More Button */
.btn-base {
  height: 56px;
  color: #2f2f2f;
  background-color: transparent;
  background-image: none;
  padding: 1rem 1.6rem;
  font-weight: 700;
  border-radius: 9999px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  border: none;
  display: inline-flex;

  &::before {
    content: "";
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    background: rgba(0, 35, 121, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    z-index: -2;
  }

  &::after {
    content: "";
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    background: rgba(0, 35, 121, 0.1) !important;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-56px);
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: #2f2f2f;

    &::before {
      width: 100%;
    }

    .btn-icon {
      margin-left: 16px;
    }
  }

  &:focus,
  &.focus {
    color: white;
    border-color: transparent;
    box-shadow: none;

    &::before {
      width: 100%;
    }

    &::after {
      width: 100%;
      transform: translateX(0);
    }

    &::after {
      width: 100%;
      transform: translateX(0);
    }

    .btn-icon {
      margin-left: 16px;
    }
  }
}

.btn-icon {
  margin-left: 8px;
  transition: margin 0.3s ease-in-out;
}

/* Wsp Button */
.floating-wsp:hover {
  opacity: 1;
}

.floating-wsp {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 120;
  transition: all 0.6s cubic-bezier(0.68, 0.01, 0.22, 0.99);
}

/* Lightbox2 */
#lightbox-container-image-box {
  width: 100%; //use 100% of even 90% , see what works for you
}

@media (max-width: 767px) {
  .row>* {
    padding-left: 0 !important;
  }
}

@media (max-width: 991px) {
  html {
    scroll-padding-top: 25px !important;
  }    
  .container-fluid {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .btn-base {
    font-size: 12px !important;
    align-items: center;
  }
}