/*Sub Menu Animation*/
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/*Sub Menu Animation ends*/

/* Header */
nav.navbar {
    position: fixed;
    width: 100%;
    z-index: 4;
    background: #FFFFFF !important;
    box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.25);

}

ul.navbar-nav {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    color: $text-black;
}

.dropdown-menu {
    top: 4rem !important;
    border-radius: 0 !important;
    animation: slideIn 0.3s ease-in-out;

}

.logo {
    width: 60px !important;
    height: 60px !important;
}

a.nav-link {
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

a.nav-link.underline {
    font-weight: 500 !important;
}

a.nav-link.dropdown-toggle {
    font-weight: 500 !important;
}

a#active.nav-link.underline {
    font-weight: 900 !important;
    color: #333 !important;
    text-decoration: underline !important;
}


.dropdown-item {
    padding: 5px 5px !important;
    border-bottom: solid !important;
    border-width: 1px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 10%) rotate(-45deg);
}

@media (max-width: 991px) {
    .logo {
        width: 50px !important;
        height: 50px !important;
    }

    .dropdown-menu {
        border: none !important;
        background-color: transparent !important;
    }

    .dropdown-item {
        border-bottom: solid !important;
        border-width: 1px !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    nav.navbar {
        background: #FFFFFF !important;
        box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.25);
        padding: 15px 100px
    }

    .dropdown-item {
        padding: 5px 25px !important;
        border: none !important;
    }

}