@media (max-width: 768px) {

    /* Background Intro */
    section.intro-bkg {
        height: 25vh;
    }

    /* El Instructor */
    img.syl-img {
        margin-top: 40px;
        box-shadow: 10px 10px 0px 0px #d9d9d9;
    }

    /* El Organismo */
    img.organismo {
        margin-top: 50px;
        box-shadow: -10px -10px 0px 0px #d9d9d9;
    }

    .organismo-row {
        flex-direction: column-reverse;
    }

    /* Section Contacto */
    div.col-12.col-md-7.col-form {
        padding-top: 50px !important;
    }

    /* Footer */
    .google-map {
        width: 300px;
        height: 200px;
    }

}

@media (max-width: 991px) {
    .container-fluid {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }

    .logo {
        width: 50px !important;
        height: 50px !important;
    }

    .dropdown-menu {
        border: none !important;
        background-color: transparent !important;
    }

    .dropdown-item {
        border-bottom: solid !important;
        border-width: 1px !important;
    }

    /* Footer */
    .footer-col {
        padding-right: 0;
        margin-top: 50px !important;
    }


    /* Intro */
    h1.title {
        font-size: 24px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    p.intro {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    /* Certifications */
    img.cards {
        margin: auto;
    }

    .section-container {
        padding: 75px 25px;
    }

    /* Page El Instructor */
    .instructor-img {
        box-shadow: -10px -10px 0px 0px #d9d9d9;
        width: 100%;
    }

    .title-instructor {
        margin-top: 10px;
    }

    /* Footer */
    .footer-container {
        padding: 25px 25px;
    }

}

@media (min-width: 767px) and (max-width: 1200px) {

    /* Background Intro */
    section.intro-bkg {
        height: 40vh;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    nav.navbar {
        background: #FFFFFF;
        box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.25);
        padding: 15px 100px
    }

    .dropdown-item {
        padding: 5px 25px !important;
        border: none !important;
    }

}