/* Background Intro */
section.organismo-bkg {
    background-image: url(./assets/images/Photo_classe_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    background-position: center;
    background-attachment: fixed;
}

.title-organisme {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: $text-black;
    font-weight: 500 !important;
    text-transform: uppercase;
}

span.highlighted {
    font-weight: 900;
    color: #333333;
}

p.organisme-text {
    margin-right: 50px;
    padding: 15px 0;
    border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.cards-container {
    background-color: rgb(242, 242, 242);
}

.card-icon {
    width: 75px;
    margin-bottom: 25px;
}
.card-body {
    margin-bottom: 75px;
}

@media (max-width: 767px) {
    section.organismo-bkg {
        background-image: url(./assets/images/Photo_classe_1.jpg);
        background-size: cover;
        height: 35vh;
        background-attachment: unset;
    }

    h2.title-organisme {
        font-size: 24px;
    }

    p.organisme-text {
        margin-right: 0 !important;
        padding: 15px 0;
    }

    .margin-top {
        margin-top: 30px !important;
    }

    .card-body {
        margin-bottom: 75px;
    }

    .card-icon {
        width: 50px;
        margin-bottom: 15px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {

    /* Background Intro */
    section.organismo-bkg {
        height: 60vh;
        background-attachment: unset;
    }

    h2.title-organisme {
        font-size: 36px;
    }
}