/* Background Intro */
section.intro-bkg {
    background-image: url(./assets/images/couverture.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-position: center;
}

/*Mouse Arrow Scroll*/
// @-webkit-keyframes ani-mouse {
//     0% {
//         opacity: 1;
//         top: 29%;
//     }

//     15% {
//         opacity: 1;
//         top: 50%;
//     }

//     50% {
//         opacity: 0;
//         top: 50%;
//     }

//     100% {
//         opacity: 0;
//         top: 29%;
//     }
// }

// @-moz-keyframes ani-mouse {
//     0% {
//         opacity: 1;
//         top: 29%;
//     }

//     15% {
//         opacity: 1;
//         top: 50%;
//     }

//     50% {
//         opacity: 0;
//         top: 50%;
//     }

//     100% {
//         opacity: 0;
//         top: 29%;
//     }
// }

// @keyframes ani-mouse {
//     0% {
//         opacity: 1;
//         top: 29%;
//     }

//     15% {
//         opacity: 1;
//         top: 50%;
//     }

//     50% {
//         opacity: 0;
//         top: 50%;
//     }

//     100% {
//         opacity: 0;
//         top: 29%;
//     }
// }

// .scroll-btn {
//     display: block;
//     position: relative;
//     left: 0;
//     right: 0;
//     text-align: center;
//     padding: 25px 0 25px 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .scroll-btn>* {
//     display: inline-block;
//     line-height: 18px;
//     font-size: 13px;
//     font-weight: normal;
//     color: #7f8c8d;
//     color: #ffffff;
//     font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     letter-spacing: 2px;
// }

// .scroll-btn>*:hover,
// .scroll-btn>*:focus,
// .scroll-btn>*.active {
//     color: #ffffff;
// }

// .scroll-btn>*:hover,
// .scroll-btn>*:focus,
// .scroll-btn>*:active,
// .scroll-btn>*.active {
//     opacity: 0.8;
//     filter: alpha(opacity=80);
// }

// .scroll-btn .mouse {
//     position: relative;
//     display: block;
//     width: 35px;
//     height: 55px;
//     margin: 0 auto 20px;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     border: 3px solid #333;
//     border-radius: 23px;
// }

// .scroll-btn .mouse>* {
//     position: absolute;
//     display: block;
//     top: 29%;
//     left: 50%;
//     width: 8px;
//     height: 8px;
//     margin: -4px 0 0 -4px;
//     background: #333;
//     border-radius: 50%;
//     -webkit-animation: ani-mouse 2s linear infinite;
//     -moz-animation: ani-mouse 2s linear infinite;
//     animation: ani-mouse 2s linear infinite;
// }

// div#intro {
//     padding-top: 100px !important;
// }

img.icon-intro {
    width: 150px;
    margin-bottom: 15px;
    transition: .2s ease-in-out transform !important;
}

img.icon-intro:hover {
    transform: scale(1.1) !important;
}


h1.title {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: $text-black;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
}

h2.title {
    font-style: italic;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #858585;
    margin-top: 20px;
}

p.intro {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #858585;
    font-style: italic;
}

/* Certifications */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    background-color: #F2F2F2;
}

img.cards {
    width: 250px;
    height: 130px;
    object-fit: contain;
}

/* El Instructor */
.section-container {
    padding: 150px 100px;
}

img.syl-img {
    width: 90%;
    height: auto;
    box-shadow: 15px 15px 0px 3px #D9D9D9;
}

/* El Organismo */
img.organismo {
    width: 90%;
    height: auto;
    box-shadow: -15px -15px 0px 3px #d9d9d9;
}

/* Aditional Info*/
.aditional-info-title {
    background-color: rgb(242, 242, 242);
}

@media (max-width: 768px) {

    /* Background Intro */
    section.intro-bkg {
        height: 25vh;
    }

    /* El Instructor */
    img.syl-img {
        width: 100%;
        margin-top: 40px;
        box-shadow: 10px 10px 0px 0px #d9d9d9;
    }

    .instructor-row {
        flex-direction: column-reverse !important;
    }

    /* El Organismo */
    img.organismo {
        width: 100%;
        margin-top: 50px;
        box-shadow: -10px -10px 0px 0px #d9d9d9;
    }

    .organismo-row {
        flex-direction: column-reverse;
    }

    /* Section Contacto */
    div.col-12.col-md-7.col-form {
        padding-top: 50px !important;
    }

    /* Section Aditional Info */
    h2.title {
        font-size: 22px;
        font-style: italic;
    }
}

@media (max-width: 991px) {
    img.icon-intro {
        width: 100px;
    }

    /* Intro */
    h1.title {
        font-size: 20px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    p.intro {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    /* Certifications */
    img.cards {
        margin: auto;
    }

    .section-container {
        padding: 75px 25px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {

    /* Background Intro */
    section.intro-bkg {
        height: 40vh;
    }

    /* Certifications */
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

}