/* PAGE EL INSTRUCTOR */
.instructor-img {
    box-shadow: -15px -15px 0px 3px #d9d9d9;
    width: 100%;
}
span.flags {
    margin-right: 20px;
}

span.small-text {
    font-size: 12px;
}

.section-experience {
    padding-top: 0 !important;
}

.card-flag {
    width: 50px;
    margin-right: 20px;
}
.languaje-text {
    padding-top: 50px;
}
h2.languaje-title {
    font-size: 32px;
}

@media (max-width: 767px) {
    .instructor-row {
        flex-direction: column-reverse !important;
    }
    .instructor-img {
        margin-top: 50px;
    }
}

@media (max-width: 991px) {
    /* Page El Instructor */
    .instructor-img {
        box-shadow: -10px -10px 0px 0px #d9d9d9;
        width: 100%;
    }
    .title-instructor {
        margin-top: 10px;
    }
    h2.languaje-title {
        font-size: 22px;
    }
}