/* Global Styles */
main {
    padding-top: 75px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: #333333;
    font-weight: 500 !important;

}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333333;
}

/*Sub Menu Animation*/
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@media (min-width: 200px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

/*Sub Menu Animation ends*/

/* Header */
nav.navbar {
    position: fixed;
    width: 100%;
    z-index: 999999;
}

ul.navbar-nav {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    color: #000;
}

.dropdown-menu {
    top: 4rem !important;
    border-radius: 0 !important;
}

.logo {
    width: 60px !important;
    height: 60px !important;
}

a.nav-link {
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

.dropdown-item {
    padding: 5px 5px !important;
    border-bottom: solid !important;
    border-width: 1px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 10%) rotate(-45deg);
}



/* Remove Hamburguer Bootstrap Border Focus */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Background Intro */
section.intro-bkg {
    background-image: url(./assets/images/study.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}

h1.title {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: #333333;
    font-weight: 700;
}

h2.subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #858585;
    text-transform: uppercase;
}

/* Certifications */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

img.cards {
    width: 250px;
    height: 130px;
    border: solid 3px #ebebeb;
}

/* El Instructor */
.section-container {
    padding: 75px 100px;
}

img.syl-img {
    width: 100%;
    height: auto;
    box-shadow: 15px 15px 0px 3px #D9D9D9;
}

/* El Organismo */
img.organismo {
    width: 100%;
    height: auto;
    box-shadow: -15px -15px 0px 3px #d9d9d9;
}

/* Section Gallery */

.item {
    width: 50%;
}

/* PAGE EL INSTRUCTOR */
.instructor-img {
    box-shadow: -15px -15px 0px 3px #d9d9d9;
    width: 100%;
}


/* a.underline {
	display: inline-block;
	position: relative;
}
a.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    z-index: 999999;
}

a.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 234, 208, 0.3);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    z-index: -1;
} */


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    nav.navbar {
        background: #FFFFFF;
        box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.25);
        padding: 15px 100px
    }

    .dropdown-item {
        padding: 5px 25px !important;
        border: none !important;
    }

}

@media (max-width: 991px) {
    .logo {
        width: 50px !important;
        height: 50px !important;
    }

    .dropdown-menu {
        border: none !important;
        background-color: transparent !important;
    }

    .dropdown-item {
        border-bottom: solid !important;
        border-width: 1px !important;
    }

    /* Intro */
    h1.title {
        font-size: 32px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    /* Certifications */
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 0 15px !important;
    }

    img.cards {
        margin: auto;
    }

    .section-container {
        padding: 75px 25px;
    }

    /* El Instructor */
    img.syl-img {
        margin-top: 30px;
        box-shadow: 10px 10px 0px 0px #d9d9d9;
    }

    /* El Organismo */
    img.organismo {
        margin-bottom: 30px;
        box-shadow: -10px -10px 0px 0px #d9d9d9;
    }

    /* Page El Instructor */
    .instructor-img {
        box-shadow: -10px -10px 0px 0px #d9d9d9;
        width: 100%;
    }
    .title-instructor {
        margin-top: 10px;
    }
    
}

@media (min-width: 1px) and (max-width: 600px) {

    /* Background Intro */
    section.intro-bkg {
        height: 30vh;
    }
}



@media (min-width: 600px) and (max-width: 1080px) {

    /* Background Intro */
    section.intro-bkg {
        height: 40vh;
    }
}