/* Global Styles */
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 35, 121, 0.3);
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 35, 121, 0.3); }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; }

main {
  padding-top: 75px; }

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  color: #333;
  font-weight: 500 !important; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333; }

a {
  font-family: 'Lato', sans-serif !important;
  color: #333 !important;
  text-decoration: none !important;
  font-weight: 500; }

li {
  list-style-type: none; }

span.underline-nice {
  background-image: linear-gradient(120deg, rgba(0, 35, 121, 0.1) 0%, rgba(0, 35, 121, 0.1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
  width: fit-content; }

/* Show More Button */
.btn-base {
  height: 56px;
  color: #2f2f2f;
  background-color: transparent;
  background-image: none;
  padding: 1rem 1.6rem;
  font-weight: 700;
  border-radius: 9999px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  border: none;
  display: inline-flex; }
  .btn-base::before {
    content: "";
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    background: rgba(0, 35, 121, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    z-index: -2; }
  .btn-base::after {
    content: "";
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    background: rgba(0, 35, 121, 0.1) !important;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-56px);
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: -1; }
  .btn-base:hover {
    color: #2f2f2f; }
    .btn-base:hover::before {
      width: 100%; }
    .btn-base:hover .btn-icon {
      margin-left: 16px; }
  .btn-base:focus, .btn-base.focus {
    color: white;
    border-color: transparent;
    box-shadow: none; }
    .btn-base:focus::before, .btn-base.focus::before {
      width: 100%; }
    .btn-base:focus::after, .btn-base.focus::after {
      width: 100%;
      transform: translateX(0); }
    .btn-base:focus::after, .btn-base.focus::after {
      width: 100%;
      transform: translateX(0); }
    .btn-base:focus .btn-icon, .btn-base.focus .btn-icon {
      margin-left: 16px; }

.btn-icon {
  margin-left: 8px;
  transition: margin 0.3s ease-in-out; }

/* Wsp Button */
.floating-wsp:hover {
  opacity: 1; }

.floating-wsp {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 120;
  transition: all 0.6s cubic-bezier(0.68, 0.01, 0.22, 0.99); }

/* Lightbox2 */
#lightbox-container-image-box {
  width: 100%; }

@media (max-width: 767px) {
  .row > * {
    padding-left: 0 !important; } }

@media (max-width: 991px) {
  html {
    scroll-padding-top: 25px !important; }
  .container-fluid {
    padding-right: 25px !important;
    padding-left: 25px !important; }
  .btn-base {
    font-size: 12px !important;
    align-items: center; } }

/* Dropdown menu transparent background */
.dropdown-item:focus {
  background-color: transparent !important; }

/* Remove Hamburguer Bootstrap Border Focus */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important; }

/*Sub Menu Animation*/
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; }
  0% {
    transform: translateY(1rem);
    opacity: 0; } }

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1; }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0; } }

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn; }

/*Sub Menu Animation ends*/
/* Header */
nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 4;
  background: #FFFFFF !important;
  box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.25); }

ul.navbar-nav {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  color: #333; }

.dropdown-menu {
  top: 4rem !important;
  border-radius: 0 !important;
  animation: slideIn 0.3s ease-in-out; }

.logo {
  width: 60px !important;
  height: 60px !important; }

a.nav-link {
  margin: 0 5px;
  transition: all 0.3s ease-in-out; }

a.nav-link.underline {
  font-weight: 500 !important; }

a.nav-link.dropdown-toggle {
  font-weight: 500 !important; }

a#active.nav-link.underline {
  font-weight: 900 !important;
  color: #333 !important;
  text-decoration: underline !important; }

.dropdown-item {
  padding: 5px 5px !important;
  border-bottom: solid !important;
  border-width: 1px; }

.navbar-toggler {
  border: none !important; }

.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left; }

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg); }

.navbar-toggler span:nth-child(2) {
  opacity: 1; }

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg); }

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em; }

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg); }

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0; }

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 10%) rotate(-45deg); }

@media (max-width: 991px) {
  .logo {
    width: 50px !important;
    height: 50px !important; }
  .dropdown-menu {
    border: none !important;
    background-color: transparent !important; }
  .dropdown-item {
    border-bottom: solid !important;
    border-width: 1px !important; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  nav.navbar {
    background: #FFFFFF !important;
    box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.25);
    padding: 15px 100px; }
  .dropdown-item {
    padding: 5px 25px !important;
    border: none !important; } }

/* Background Intro */
section.intro-bkg {
  background-image: url(./assets/images/couverture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  background-position: center; }

/*Mouse Arrow Scroll*/
img.icon-intro {
  width: 150px;
  margin-bottom: 15px;
  transition: .2s ease-in-out transform !important; }

img.icon-intro:hover {
  transform: scale(1.1) !important; }

h1.title {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic; }

h2.title {
  font-style: italic; }

h2.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #858585;
  text-transform: uppercase; }

p.intro {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #858585;
  font-style: italic; }

/* Certifications */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  background-color: #F2F2F2; }

img.cards {
  width: 250px;
  height: 130px;
  object-fit: contain; }

/* El Instructor */
.section-container {
  padding: 150px 100px; }

img.syl-img {
  width: 100%;
  height: auto;
  box-shadow: 15px 15px 0px 3px #D9D9D9; }

/* El Organismo */
img.organismo {
  width: 100%;
  height: auto;
  box-shadow: -15px -15px 0px 3px #d9d9d9; }

/* Aditional Info*/
.aditional-info-title {
  background-color: #f2f2f2; }

@media (max-width: 768px) {
  /* Background Intro */
  section.intro-bkg {
    height: 25vh; }
  /* El Instructor */
  img.syl-img {
    margin-top: 40px;
    box-shadow: 10px 10px 0px 0px #d9d9d9; }
  .instructor-row {
    flex-direction: column-reverse !important; }
  /* El Organismo */
  img.organismo {
    margin-top: 50px;
    box-shadow: -10px -10px 0px 0px #d9d9d9; }
  .organismo-row {
    flex-direction: column-reverse; }
  /* Section Contacto */
  div.col-12.col-md-7.col-form {
    padding-top: 50px !important; }
  /* Section Aditional Info */
  h2.title {
    font-size: 22px;
    font-style: italic; } }

@media (max-width: 991px) {
  img.icon-intro {
    width: 100px; }
  /* Intro */
  h1.title {
    font-size: 20px; }
  h2.subtitle {
    font-size: 18px; }
  p.intro {
    font-size: 14px; }
  p {
    font-size: 14px; }
  /* Certifications */
  img.cards {
    margin: auto; }
  .section-container {
    padding: 75px 25px; } }

@media (min-width: 767px) and (max-width: 1200px) {
  /* Background Intro */
  section.intro-bkg {
    height: 40vh; } }

/* PAGE EL INSTRUCTOR */
.instructor-img {
  box-shadow: -15px -15px 0px 3px #d9d9d9;
  width: 100%; }

span.flags {
  margin-right: 20px; }

span.small-text {
  font-size: 10px;
  font-style: italic;
  font-weight: bold; }

.section-experience {
  background-color: #f2f2f2; }

.section-certifications {
  padding-top: 0 !important; }

.card-flag {
  width: 50px;
  margin-right: 20px; }

.languaje-text {
  padding-top: 50px; }

h2.languaje-title {
  font-size: 32px; }

/* Slick Sliders */
div.slick-slider.slick-initialized.slick-dotted {
  width: 80vw;
  margin: auto; }

.slick-slider {
  margin-top: 50px !important; }

.slider-item img {
  max-width: 60%; }

span.lb-number {
  display: none !important; }

.slick-prev:before,
.slick-next:before {
  color: #000000 !important; }

.icon-formateur {
  width: 100px; }

@media (max-width: 767px) {
  .instructor-row {
    flex-direction: column-reverse !important; }
  .instructor-img {
    margin-top: 50px; }
  .slider-item img {
    max-width: 100%; }
  .icon-formateur {
    width: 75px; } }

@media (max-width: 991px) {
  /* Page El Instructor */
  .instructor-img {
    box-shadow: -10px -10px 0px 0px #d9d9d9;
    width: 100%; }
  .title-instructor {
    margin-top: 10px; }
  h2.languaje-title {
    font-size: 22px; } }

/* Background Intro */
section.organismo-bkg {
  background-image: url(./assets/images/Photo_classe_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  background-position: center;
  background-attachment: fixed; }

.title-organisme {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: #333;
  font-weight: 500 !important;
  text-transform: uppercase; }

span.highlighted {
  font-weight: 900;
  color: #333333; }

p.organisme-text {
  margin-right: 50px;
  padding: 15px 0;
  border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important; }

.cards-container {
  background-color: #f2f2f2; }

.card-icon {
  width: 75px;
  margin-bottom: 25px; }

.card-body {
  margin-bottom: 75px; }

@media (max-width: 767px) {
  section.organismo-bkg {
    background-image: url(./assets/images/Photo_classe_1.jpg);
    background-size: cover;
    height: 35vh;
    background-attachment: unset; }
  h2.title-organisme {
    font-size: 24px; }
  p.organisme-text {
    margin-right: 0 !important;
    padding: 15px 0; }
  .margin-top {
    margin-top: 30px !important; }
  .card-body {
    margin-bottom: 75px; }
  .card-icon {
    width: 50px;
    margin-bottom: 15px; } }

@media (min-width: 767px) and (max-width: 1200px) {
  /* Background Intro */
  section.organismo-bkg {
    height: 60vh;
    background-attachment: unset; }
  h2.title-organisme {
    font-size: 36px; } }

.navbar-formations {
  position: static !important; }

.secondary-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 0; }

.nav-link {
  font-family: 'Lato', sans-serif !important;
  color: #333 !important;
  font-weight: 500 !important; }

.formation-title-container {
  padding: 75px 0 75px 0; }

.intro-container {
  text-align: center;
  padding: 0 0 75px 0; }

.formation-section {
  padding: 50px 100px; }

.h1-formations {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  margin-bottom: 0 !important;
  font-weight: 900; }

.h2-formations {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  margin-bottom: 0 !important;
  font-weight: 700; }

.title-container {
  padding: 25px 0; }

.small-icon {
  width: 75px !important;
  margin-bottom: 15px;
  transform: rotate(10deg) !important; }

.padding-top {
  padding-top: 0 !important; }

.card-particuliers {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4) !important; }

.cpf-cards {
  background-color: #ffffff !important; }

@media (max-width: 768px) {
  /* Show More Button */
  .small-icon {
    width: 50px !important; } }

@media (max-width: 991px) {
  .nav-link {
    font-family: 'Lato', sans-serif !important;
    padding: 5px !important;
    font-size: 12px !important;
    color: #333 !important;
    font-weight: 500 !important; }
  .formation-section {
    padding: 50px 25px; }
  .h1-formations {
    font-size: 36px; }
  .h2-formations {
    font-size: 22px; }
  .intro-container {
    text-align: left; } }

/* Section Contacto */
h2.subtitle-contact {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #858585; }

li.contact a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333; }

.form-control:focus {
  border-color: #333;
  box-shadow: 0 0 0 0.2rem rgba(133, 133, 133, 0.3) !important; }

div.row-contact {
  align-items: flex-start; }

.form-control {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

button.form-btn {
  font-family: 'Lato', sans-serif;
  font-weight: 500; }

/* Footer */
footer {
  border-top: solid 1px #333; }

.footer-container {
  padding: 50px 100px; }

.footer-col {
  padding-right: 50px !important; }

.title-footer {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700 !important;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px; }

.footer-text {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700 !important;
  color: #333;
  margin-top: 15px; }

.google-map {
  width: 300px;
  height: 200px; }

.fa-brands,
.fa-solid {
  padding-right: 15px;
  transition: all 0.2s linear;
  cursor: pointer; }

i.instagram:hover {
  color: #e1306c; }

i.facebook:hover {
  color: #3b5998; }

i.linkedin:hover {
  color: #0077b5; }

i.youtube:hover {
  color: #bb0000; }

h2.social {
  margin-top: 50px; }

.copyright-container {
  padding: 25px 100px;
  display: flex; }

h3.copyright {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500 !important;
  color: #333;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  display: flex;
  align-items: center; }

img.copyright-logo {
  width: 25px;
  height: 25px; }

@media (max-width: 768px) {
  .google-map {
    width: 300px;
    height: 200px; } }

@media (max-width: 991px) {
  /* Footer */
  .footer-col {
    padding-right: 0;
    margin-top: 50px !important; }
  .footer-container {
    padding: 25px 25px; }
  .copyright-container {
    padding: 25px 25px; } }
